.pre-call-main-container {
    height: 90vh !important;
}

.users-vid {
    position: absolute;
    bottom: 4em;
    right: 0;
    width: 16em;
    height: 9em;
    object-fit: cover;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    z-index: 3;
}

.button-container {
    bottom: 1em;
    z-index: 1;
    width: 5em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
/* .border { */
    /* background-color: aliceblue; */
/* } */
.mobile-screen .left-window {
    height: 60vh !important;
}
.mobile-screen .users-vid {
    height: 15em !important;
    width: 9em !important;
} 
.mobile-screen .users-vid>div {
    height: 100%;
}
.users-vid video {
    height: 11em;
}
.mobile-screen .users-vid video {
    height: 100% !important;
}