.view-comments {
    max-height: 14em;
    padding: .3em;
    overflow-y: auto;
}
.view-post-header {
    display: flex;
    justify-content: space-between;
}
.view-replies {
    margin-left: 1.5em;
}