.view-comments {
    max-height: 10em;
    padding: .3em;
    overflow-y: auto;
    overflow-x: hidden;
}
.view-post-header {
    display: flex;
    justify-content: space-between;
}
.view-replies {
    margin-left: 1.5em;
}
p {
    margin-bottom: 0 !important;
}
.image {
    object-fit: contain !important;
}