.msg-fragment .userName {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 17em;
}
.msg-fragment .mw-modified.userName {
    max-width: 12em;
}
.online-div {
    width: .5em;
    height: .5em;
    background-color: greenyellow;
    border-radius: 1em;
    right: 0;
    position: absolute;
    bottom: 0em;
    border: 1px solid lightgrey;
}
.last-seen {
    color: lightgrey;
    font-size: .9em;
}