.user-profile-avatar .MuiAvatar-root {
    width: 6em !important;
    height: 6em !important;
}
.user-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: .1em;    */
}

.text-space {
    margin-left: 1em;
    margin-right: 1em;
}
.MuiTabs-scroller {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}