.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgrey;
    margin-bottom: 1em;
}
.post-image {
    width: 100%;    
    object-fit: contain;
    max-height: 30em;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.post-avatar {
    margin-right: .5em;
}
.post-header {
    display: flex;
    align-items: center;
    padding: .5em;
}
.post_text {
    font-weight: normal;
    padding: .5em;
}
.post-comment {
    display: flex;
    margin-top: .5em;
}
.post-comment-btn {
    flex: 0;
}
.post-comment-text {
    flex: 1;
    border: none;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}
.post-comments {
    padding: .5em;
}
.post-comments .MuiAvatar-root {
    width: 1.3em !important;
    height: 1.3em !important;
    border: 1px solid lightgrey;
}
.post-header .MuiAvatar-root {
    width: 1.5em !important;
    height: 1.5em !important;
    border: 1px solid lightgrey;
}

.post-content img {
    object-fit: contain;
    height: 17em;
    width: 100%;
}
.post-content video {
    max-height: 100%;
    max-width: 100%;
}
.carousel-container {
    max-height: 35em;
    height: 35em;
}
.carousel-container>div {
    max-height: 35em;
}
.carousel-container.no-buttons .MuiIconButton-root {
    display: none;
}
.icon-container > div div:nth-child(2) {
    margin-left: .5em;
}
.icon-container > div div {
    cursor: pointer;
}
.icon-container div:nth-child(2) {
    cursor: pointer;
}