* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app-header {
  background-color: white;
  padding: 1%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app-form {
  display: flex;
  flex-direction: column;
}
.app-posts {
  padding: 1em;
  max-height: 33em;
  overflow-y: scroll;
}
.img-header {
  width: 8em;
  height: 3em;
}
.app-login-container {
  margin-top: .5em;
}
.app-form .img-header{
  align-self: center;
}