@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app-header {
  background-color: white;
  padding: 1%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.mobile-screen .app-header {
  height: 6vh !important;
}
.app-form {
  display: flex;
  flex-direction: column;
}
.app-posts {
  max-height: 85vh;
  overflow-y: scroll;
}
.app-posts .post{
   border: 1px solid lightgrey;
}
.mobile-screen .app-posts .post {
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.mobile-screen main {
  max-height: 85vh;
}
.mobile-screen .app-posts {
  max-height: 100%;
  margin-bottom: 2em;
}
.mobile-screen .MuiBox-root {
  padding:0;
}
.img-header {
  width: 8em;
  height: 3em;
}
.app-login-container {
  margin-top: .5em;
}
.app-form .img-header{
  align-self: center;
}
.all-user-stories .post-avatar {
  margin-right: 0 !important;
}
.all-user-stories .story-container-avatar {
  padding-left: .7em;
  padding-right: .7em;
}
.mobile-screen .all-user-stories .username {
  margin-bottom: 0 !important;
}
.all-user-stories .username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 3em;
  text-align: center;
}
.mobile-screen .all-user-stories {
  padding-top: .5em;
  padding-bottom: .5em;
}
.justify-content-space-between {
  justify-content: space-between;
}
p {
  font-size: .8em;
}
h2 {
  font-size: 1em;
}
input:focus-visible {
  outline: none !important;
}

.carousel-container>div:nth-last-child(2), .carousel-container>div:nth-last-child(3) {
  height: 50%;
  top: unset;
  margin: auto;
}
.carousel-container>div:nth-last-child(1) {
  position: absolute;
  bottom: 1em;
  z-index: 1;
}
.giffAuth {
  width: 1em;
  height: 1.3em;
}