* {
  margin: 0;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app-header {
  background-color: white;
  padding: 1%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app-form {
  display: flex;
  flex-direction: column;
}
.app-posts {
  max-height: 33em;
  overflow-y: scroll;
}
.img-header {
  width: 8em;
  height: 3em;
}
.app-login-container {
  margin-top: .5em;
}
.app-form .img-header{
  align-self: center;
}
.all-user-stories .post-avatar {
  margin-right: 0 !important;
}
.all-user-stories .story-container-avatar {
  padding-left: .5em;
  padding-right: .5em;
}
.justify-content-space-between {
  justify-content: space-between;
}